---
layout: page
permalink: /categories/
title: Categories
---

<template title="twiddle">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"/></svg>
</template>

<div id="categories">
{% assign sorted_cats = site.categories | sort %}
{% for category in sorted_cats %}
  <div class="meta-listing">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="cat-{{ category_name | slugize }}"></div>

    <div class="meta-head">
    	<a onclick="javascript:toggleMetaItems(this)" title="Show Categories">
    		<img src="/graphics/caret-right.svg" height="20" class="twiddle rotate">
    	</a> 
    	{{ category_name }} ({{ category[1].size }})
    </div>
    <a name="{{ category_name | slugize }}"></a>
    <div class="meta-items">
    {% for post in site.categories[category_name] %}
    <div class="meta-item">
      <a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a>
      <span class="meta-item-date">({{ post.date | date_to_string: "ordinal", "US" }})</span>
    </div>
    {% endfor %}
    </div>
  </div>
{% endfor %}
</div>
