---
layout: default
---
  {% assign category = site.my_categories | where: "slug", page.category %}
  {% assign category = category[0] %}
  {% if category.slug %}
    {% capture category_content %}{{ category.name }}{% endcapture %}
  {% endif %}

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="date">
	Written on {{ page.date | date: "%B %e, %Y at %I:%M %P" }}
    {% if category_content %}
    <br><span class="category">Category: {{ category_content }}</span>
    {% endif %}

	{% if post.tags.size > 0 %}
	  Tag{% if post.tags.size > 1 %}s{% endif %}:
	  {{ post.tags | sort | join: ", " }}
	{% endif %}
  </div>

<div class="m-t-3 text-justify">
  {{ content }}

</div>
</article>
